{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe utilisateur{% endblock %}


{% block body %}

  <h1>Modification du mot de passe de : {{ app.user.fullName }}</h1>

  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
      <!-- Profile tabs START -->
      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#password" role="tab">PASSWORD</a>
        </li>
      </ul>
      <div class="info-holder info-ct">
        <div data-toggle="popover-all" data-content="Customized tabbed interface" data-original-title="Tabs" data-placement="top" data-offset="0,48"></div>
      </div>
      <!-- Profile tab panes -->
      <div class="tab-content px-4 px-sm-0 py-sm-4 mt-4">
        <!-- Password pane START -->{# , {'action': path('account_password', {'id': user.id, 'tab': 1, 'form':form,'formPassword':formPassword, 'passwordUpdate':passwordUpdate})} #}
        <div class="tab-pane fade show active" id="password" role="tabpanel">
          {{ form_start(formPassword)  }}
                
          <!-- <form> -->
            <div class="form-group row">
              {{ form_label(formPassword.oldPassword, null, {'label_attr': {'class': 'col-12 col-sm-3 col-form-label'}}) }}
              <div class="col-12 col-sm-9">
                {# {{ form_errors(formPassword.oldPassword) }} #}
                {{ form_widget(formPassword.oldPassword, {'attr': {'class': "form-control custom-focus"}}) }}
              </div>
            </div>
            <div class="form-group row">
              {{ form_label(formPassword.newPassword, null, {'label_attr': {'class': 'col-12 col-sm-3 col-form-label'}}) }}
              <div class="col-12 col-sm-9">
                {# {{ form_errors(formPassword.newPassword) }} #}
                {{ form_widget(formPassword.newPassword, {'attr': {'class': "form-control custom-focus"}}) }}
              </div>
            </div>
            <div class="form-group row has-success">
              {{ form_label(formPassword.confirmPassword, null, {'label_attr': {'class': 'col-12 col-sm-3 col-form-label'}}) }}
              <div class="col-12 col-sm-9">
                {# {{ form_errors(formPassword.confirmPassword) }} #}
                {{ form_widget(formPassword.confirmPassword, {'attr': {'class': "form-control custom-focus "}}) }}
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-xs-0 offset-sm-3 col-12 col-sm-9 mt-3">
                <button type="submit" class="btn btn-primary">Save password</button>
              </div>
            </div>
          <!-- </form> -->
          {{ form_end(formPassword) }}
        </div>
        <!-- Password pane END -->
        
      </div>
      <!-- Profile tabs END -->
    </div>
  </div>

{% endblock %}

{% block javascripts %}

  <script>
    var newPassword = $('#password_update_newPassword');
    var confirmPassword = $('#password_update_confirmPassword');
    console.log('newPassword type : ' + jQuery.type(newPassword.val()))
    newPassword.on('input', function() { 
      //console.log($(this).val()); // get the current value of the input field.
      if( $(this).val() === confirmPassword.val() ){
        confirmPassword.removeClass("is-invalid");
        confirmPassword.addClass("is-valid");
        
      }
      else{
        confirmPassword.removeClass("is-valid");
      }
    });


    confirmPassword.on('input', function() { 
      //console.log($(this).val()); // get the current value of the input field.
      if( $(this).val() === newPassword.val() ){
        confirmPassword.removeClass("is-invalid");
        confirmPassword.addClass("is-valid");
        
      }
      else{
        confirmPassword.removeClass("is-valid");
      }
    });
  </script>

{% endblock %}